<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the RoR Tutorial at the
  <a href="http://railstutorial.org/contact">contact page</a>.
  To get help on this sample, see the
  <a href="http://railstutorial.org/book">Rails Tutorial Book</a>.
</p>
