<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on the RoR Tutorial at the
  <a href="http://railstutorial.org/help">help page</a>.
  To get help on this sample, see the
  <a href="http://railstutorial.org/book">Rails Tutorial Book</a>.
</p>
